name: Deploy site on release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Репозиторий
        uses: actions/checkout@v4

      - name: Версия
        run: echo "RELEASE_NAME=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: файлы
        run: |
          mkdir -p _site
          cp -R index.html ru en _site/
          echo "Содержимое _site:"
          ls -R _site

      - name: Развертывание
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          destination_dir: ${{ env.RELEASE_NAME }}
          keep_files: true
